.auth .card {
  margin: 100px auto;
  width: 300px;
  border: 1px solid #aaa;
  border-radius: 16px;
}

.auth .card.login {
  height: 360px;
}

.auth .card.signup {
  height: 500px;
}

.auth .card h1 {
  text-align: center;
  margin: 10px auto;
  font-variant: all-small-caps;
  letter-spacing: 8px;
  font-size: 32px;
  border-bottom: 1px solid #aaa;
  color: #333;
}

.auth .card .row {
  margin-top: 32px;
  margin-left: 32px;
}

.auth .card .label {
  color: #333;
}

.auth .card .btn {
  width: 100px;
}
