.app {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 14px;
}
.nav {
  width: 15%;
  height: 100vh;
  float: left;
  position: relative;
}

.header {
  height: 96px;
  width: 85%;
  float: right;
  position: relative;
}

.display {
  float: right;
  width: 85%;
  position: relative;
  height: 90vh;
  overflow: scroll;
}

