.import .title {
  font-size: 64px;
  text-align: center;
  font-variant: all-small-caps;
  letter-spacing: 6px;
  margin-top: 64px;
}

.import .importarea {
  width: 80%;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  padding: 32px;
  color: #aaa;
  font-variant: all-small-caps;
  font-size: 18px;
  border-radius: 8px;
  background: linear-gradient(#f2f2f2, #d9d9d9);
  border: 8px dashed #bfbfbf;
}

.import .importarea.highlight {
  background: linear-gradient(#e8f2fc, #bad9f7);
  border: 8px dashed #8cbff2;
}

.import table {
  border-collapse: collapse;
  border: 1px solid #1466b8;
}

.import td,
.import th {
  border: 1px solid #1466b8;
  padding: 5px 10px;
}

.import .cont {
  margin: 48px;
  padding: 48px;
}
.import .cont:before {
  content: "";
  display: block;
  padding: 24px;
  width: 100%;
  border-top: 1px solid #1466b8;
}

.import .subtitle {
  font-size: 18px;
  color: #1466b8;
  margin-bottom: 16px;
}
