.wk {
  position: relative;
}
.wk .toolbar {
  border-radius: 2px;
  border: 1px solid #e0e0e0;
  position: absolute;
  top: 8px;
  left: 8px;
  padding: 10px 8px;
  background: linear-gradient(#fafafa, #fff);
  box-shadow: inset 1px 1px 1px #eaeaea;
}
.wk .icon {
  display: inline-block;
  margin-left: 12px;
  margin-top: 4px;
  width: 64px;
  line-height: 50px;
  text-align: center;
  border: 1px solid #404040;
  border-radius: 4px;
  cursor: pointer;
}
.icon.selected {
  background: #dedede;
  box-shadow: 0 0 0 1px #404040;
}
.icon img {
  transform: translateY(25%);
}
